body{
    width: 1025px;
}

.conteudo{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.imagemForca{
    width: 400px;
}

.jogo{
    margin: 59px 53px 70px 38px; 
    display: flex;
    justify-content: space-between;
    width: 934px;
}

.palavras{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 30px 0;
}

.escolhaDePalavra{
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.palavraRenderizada, .verde, .vermelho{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    
}

.palavraRenderizada{
    color: #000000;
}

.verde{
    color:#27AE60;
}

.vermelho{
    color: #FF0000;
}

.letrasRenderizadas{
    width: 700px;
}

.letra, .desabilitado{
    width: 40px; 
    height: 40px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;   
}
.letra{
    background: #E1ECF4;
    color: #39739D;
}

.desabilitado {   
    background: #9FAAB5;   
    color: #798A9F;
}

